body {
  background-color: #000000; /* Bootstrap's bg-dark color */
  color: #00FF00; /* Terminal green color */
}

.navbar, footer {
  background-color: rgba(31, 31, 31, 0.8); /* Semi-transparent background */
  color: #00FF00;
  background-size: cover; /* Ensures the image covers the entire viewport */
}

.content-container {
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay for content readability */
  padding: 20px;
  border-radius: 8px;
  color: #00FF00;
}

.btn-dark-custom {
  background-color: #000000;
  color: #00FF00;
}

.btn-dark-custom:hover {s
  background-color: #555;
  border-color: #666;
}

footer {
  padding: 15px 0;
  background-color: #000000;
  color: #00FF00;
}

footer a {
  background-color: #000000; 
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
