{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-center">  
          <div class="card-body custom-card-body">
          <h3 class="card-title text-center">Executive Summary</h3>
            <div class="list-group list-group-flush">
                <div class="list-group-item border-0 text-left">
                    <h5 class="mb-2">Concept</h5>
                    <p>Terminal of games is a real-time digital platform providing exclusive games insights, backroom discussions, and expert analysis. With a unique meme token-based access system, the platform blends community interaction, games data, and expert commentary.</p>
                </div>
                <div class="list-group-item border-0 text-left">
                    <h5 class="mb-2">Meme Token</h5>
                    <p>Launching the GAME token to drive platform engagement, grant premium access, and enable rewards, encouraging user retention and community growth.</p>
                </div>
                <div class="list-group-item border-0 text-left">
                    <h5 class="mb-2">Vision</h5>
                    <p>To become the leading platform for exclusive games insights, blending the worlds of fan interaction, expert commentary, and real-time analytics.</p>
                </div>
            </div>
          </div>
         
        </div>
      </div>
      
    </div>
  </div>
</section>    

{% endblock %}
