{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1 class="page-title">Memory List</h1>

    <div class="memory-list">
      <ul>
        {% for memory in memories %}
          <li class="memory-item">
            <a href="{% url 'memory-detail' memory.external_id %}" class="memory-link">
              <strong>{{ memory.content }}</strong>
            </a>
            <span class="memory-date">- Created at: {{ memory.created_at_external }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
